{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}

{% block content %}

    <div class="login-container justify-content-center">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>پسورد خود را بازیابی کنید.</h3>
                    {% if validlink %}
                        <p>لطفا پسورد جدید را وارد کنید:</p>
                        <form method="post">
                            {%  csrf_token %}
                            <div class="form-group m-2">
                                {{ form.as_p }}
                            </div>
                            <p><input class="btn btn-success" type="submit" value="تغییر پسورد" /></p>
                        </form>
                    {% else %}
                        <p>پیوند بازنشانی گذرواژه معتبر نبود ، احتمالاً به این دلیل که قبلاً استفاده شده است. لطفاً بازنشانی گذرواژه جدید را درخواست کنید.</p>
                    {% endif %}
                </div>
            </div>
    </div>

{% endblock %}