{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}

    <div class="login-container justify-content-center align-items-center">
            <div class="login-form-1">
                <h3>بازیابی رمز عبور</h3>
                <p>ما دستورالعمل هایی را برای تنظیم رمز عبور برای شما ایمیل کرده ایم.</p>
                <p>اگر ایمیلی دریافت نکردید ، لطفاً مطمئن شوید آدرسی را که با آن ثبت نام کرده اید وارد کرده اید.</p>
            </div>

    </div>

{% endblock %}