{% extends "base.html" %}
{% load static %}
{% block title %}Change your password{% endblock %}

{% block content %}

    <div class="login-container justify-content-center">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>پسورد خود را تغییر دهید.</h3>
                    <p>از فرم زیر برای تغییر پسورد استفاده کنید.</p>
                        <form method="post">
                            {%  csrf_token %}
                            <div class="form-group m-2">
                                {{ form.as_p }}
                            </div>
                            <p><input class="btn btn-success" type="submit" value="تغییر پسورد" /></p>
                        </form>
                </div>
            </div>
    </div>

{% endblock %}