{% extends "base.html" %}

{% load static %}

{% block title %} {{ book.name }} {% endblock title%}


{% block content %}


    <table class="table">

          <tbody>
            <tr>
              <th scope="row"><img class="border border-5 w-60 h-70 img-thumbnail" src="{{ book.image.url }}" alt=""></th>
              <td>
                  <h2>{{ book.title }} </h2>
                        <h4>
                            <div>
                                {% for ctg in book.list_category%}
                                    {{ ctg }}
                                {% endfor %}
                            </div>
                        </h4>
                        <p>
                            نویسنده:{{ book.author }}
                        </p>
                        {% if book.cash_off or book.percent_off %}
                            <p>قیمت کتاب:<del>{{ book.price }}   ریال </del> | {{ book.final_price }} ریال </p>

                        {% else %}
                             <p>قیمت کتاب:{{ book.price }}</p>
                        {% endif %}
                        <p>
                            موجودی:{{ book.quantity }}
                        </p>
              </td>
            </tr>
          </tbody>
    </table>
     <p>
        <form action="{% url "cart:cart_add" book.id %}" method="post">
            {{ cart_book_form }}
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="افزودن به سبد خرید">
        </form>
    </p>

{% endblock content%}