{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}همه کتاب ها{% endif %}
{% endblock title%}


{% block content %}
    <div id="main" class="product-list">
        <h3 class="p-2">
            {% if category %}{{ category.name }}
            {% else %}
                همه کتاب ها
            {% endif %}
        </h3>
    </div>

    <div id="main" class="row ps-5">

            {% for book in books %}
                <div class="col-sm border border-light">
                    <div class="item">
                        <a href="{{ book.get_absolute_url }}">
                            <img src="{{ book.image.url }}">
                        </a>
                        <br>
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                        <br>
                        {% if book.cash_off or book.percent_off %}
                            <del>  ریال {{ book.price }}</del>
                            {{ book.final_price }}
                        {% else %}
                              ریال {{ book.price }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

    </div>




{#        {% for book in books %}#}
{#            <div class="item p-4">#}
{#                <a href="{{ book.get_absolute_url }}"></a>#}
{#                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>#}
{#                <br>#}
{#                {% if book.cash_off or book.percent_off %}#}
{#                    <del>  ریال {{ book.price }}</del>#}
{#                    {{ book.final_price }}#}
{#                {% else %}#}
{#                      ریال {{ book.price }}#}
{#                {% endif %}#}
{##}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock content%}