{% extends "base.html" %}

{% block title %}تکمیل سفارش{% endblock %}

{% block content %}

    <div class="row">
        <div class="col mt-3  mx-2">
            <h3>سفارش شما</h3>
            <table class="table mt-5">
                <thead class="bg-success">
                    <tr>
                        <th>عنوان کتاب</th>
                        <th>تعداد</th>
                        <th>مبلغ کل</th>
                        <th>مبلغ با تخفیف</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        <tr>
                            <td>{{ item.book.title }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price |floatformat:2 }}</td>
                            <td>{{ cart.get_discount|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="col mt-4  px-5">
            <form method="post" class="order-form">
                {{ form.as_p }}
                <p><input class="btn btn-success" type="submit" value="ثبت سفارش"></p>
                {% csrf_token %}
            </form>
        </div>

    </div>

{% endblock %}