.navbar {
    background-color: #E8E8E8;
}

#subheader {
    background-color: #067018!important;
    color:#444;
}

#category_list a {
    color: #E8E8E8 !important;
}

#button {
    background-color: #4CBB17!important;
}
