{% extends "base.html" %}

{% load static %}

{% block title %}
    Your shopping cart
{% endblock title%}

{% block content %}
    <h1>سبد خرید شما</h1>

    {% if messages %}

    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>

        {% endfor %}
    </ul>
    {% endif %}

    <table class="table mt-5 mx-2">
        <thead class="bg-success">
            <tr>
                <th class="px-4 mx-2">عنوان کتاب</th>
                <th class="px-4 mx-2">تعداد</th>
                <th class="px-4 mx-2">حذف</th>
                <th class="px-4 mx-2">قیمت واحد</th>
                <th class="px-4 mx-2">قیمت</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with book=item.book %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>
                            <form action="{% url "cart:cart_add" book.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input class="btn btn-success" type="submit" value="بروزرسانی تعداد">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url "cart:cart_remove" book.id %}" method="post">
                                <input class="btn btn-success" type="submit" value="حذف">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.price }}</td>
                        <td class="num">{{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}


            <tr class="subtotal">
                <td>مجموع سبد خرید</td>
                <td colspan="3"></td>
                <td class="num">{{ cart.get_total_price|floatformat:2 }}</td>
            </tr>
            {% if cart.coupon %}
                <tr>
                    <td>
                       کد تخفیف ({{ cart.coupon.value }}% off) "{{ cart.coupon.discount_code }}"
                    </td>
                    <td colspan="3"></td>
                    <td class="num neg">
                        - {{ cart.get_total_price_after_discount|floatformat:2 }}
                    </td>
                </tr>
            {% endif %}

        </tbody>
    </table>
    <p class="mt-3 mx-2">اعمال کد تخفیف:</p>
    <form class="mt-2 mx-2" action="{% url "order:discount_apply" %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" value="کد را وارد کنید">
        {% csrf_token %}
    </form>
    <p class="text-right mt-3 mx-2">
        <a class="btn btn-success p-1" href="{% url "book:book_list" %}" class="button light">ادامه خرید</a>
        <a class="btn btn-success p-1" href="{% url "order:order_create" %}" class="button">ثبت سفارش</a>
    </p>
{% endblock %}